.button {
    background-color: #15ff00;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 1rem;
  }
  
  .button:hover {
    background-color: #00b35c;
  }
  